<div class="cads-disclosure disclosure" data-controller="disclosure" data-disclosure-enabled-class="disclosure--js">
  <button type="button" class="cads-disclosure__toggle cads-icon_plus cads-linkbutton" data-action="disclosure#toggle">
    <span class="cads-disclosure__summary">
      Secrets
    </span>
  </button>  
  <div class="cads-disclosure__details" data-disclosure-target="details">
    <p>Oh no! You saw my secrets!</p>
  </div>
</div>
