<div class="cads-disclosure quinn-disclosure">
  <button type="button" class="cads-disclosure__toggle cads-icon_plus cads-linkbutton cads-hide">
    <span class="cads-disclosure__summary">
      Secrets
    </span>
  </button>  
  <div class="cads-disclosure__details cads-disclosure__details--open">
    <p>Oh no! You saw my secrets!</p>
  </div>
</div>
