<%# The cads-page-content represents the main page wrapper %>
<div class="cads-page-content">
  <%# See https://citizens-advice-design-system.netlify.app/foundations/grid/ %>
  <div class="cads-grid-container">
    <div class="cads-grid-row">
      <%# Using the `md` variant here ensures the colum is responsive %>
      <main class="cads-grid-col-md-8">
        <h1 class="cads-page-title">Stimulus examples</h1>

        <div class="cads-prose">
          <h2>Disclosure</h2>
          <%= render 'disclosure' %>
      </main>
    </div>
  </div>
</div>
